
  <!-- Page Content -->
  <main class="bg-gradient-info">
    <br><br><br><br>


    <section class="section section-lg pt-0">
      <div class="container">
        <div class="card bg-gradient-warning shadow-lg border-0 floating">
          <div class="p-5">
            <div class="row align-items-center">
              <div class="col-lg-8">
                <h3 class="text-white">About</h3>
                <p class="lead text-white mt-3">
                  Now team members does not need to be present for discussion.
                  Here you come up with your ideas , form the team and start discussion about the project 
                  anytime anywhere.
              </p>
              </div>
              <div class="col-lg-3 ml-lg-auto">
                <img class="img-fluid rounded mb-4" src="assets/img/12.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



  

    <section class="bg-default">
      <div class="main-content">
        <!-- Header -->
        <div class="header bg-gradient-info py-6">

          <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
              <div class="px-4">
                <img src="../assets/img/theme/team-1-800x800.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
                <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1 text-white">Sanket Hebbal</span>
                    <small class="h6 text-muted">Web Developer</small>
                  </h5>
                  <!-- <div class="mt-3">
                    <a href="#" class="btn btn-warning btn-icon-only rounded-circle">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="btn btn-warning btn-icon-only rounded-circle">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="btn btn-warning btn-icon-only rounded-circle">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
              <div class="px-4">
                <img src="../assets/img/theme/team-2-800x800.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;" alt="image">
                <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1 text-white">Abhishek Zambare</span>
                    <small class="h6 text-muted">UI/UX Designer</small>
                  </h5>
                  <!-- <div class="mt-3">
                    <a href="#" class="btn btn-primary btn-icon-only rounded-circle">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="btn btn-primary btn-icon-only rounded-circle">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="btn btn-primary btn-icon-only rounded-circle">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
              <div class="px-4">
                <img alt="image" src="../assets/img/theme/team-3-800x800.jpg" class="rounded-circle img-center img-fluid shadow shadow-lg--hover" style="width: 200px;">
                <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1 text-white">Shruti Metkar</span>
                    <small class="h6 text-muted">Web Developer</small>
                  </h5>
                  <!-- <div class="mt-3">
                    <a href="#" class="btn btn-info btn-icon-only rounded-circle">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" class="btn btn-info btn-icon-only rounded-circle">
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" class="btn btn-info btn-icon-only rounded-circle">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="py-6">
          <div class="container">
            <div class="row align-items-center justify-content-xl-between">
              <div class="col-xl-12">
                <div class="copyright text-center text-muted">
                  © 2019 <a href="" class="font-weight-bold ml-1" target="_blank">Prodisc</a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </section>
</main>